.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-style: italic;
  color: white;
}

.navlink {
  color: #a461fb;
  text-decoration: none;
  padding-bottom: 6px;
  margin: auto 6px;
}

.navlink:hover {
  color: lime;
}